<div class="calculator card">

  <input type="text" class="calculator-screen z-depth-1" [value]="displayValue" disabled placeholder="0" />

  <div class="calculator-keys">

    <button type="button" class="operator btn btn-info" (click)="add()">+</button>
    <button type="button" class="operator btn btn-info" (click)="subtract()">-</button>

    <button type="button" value="7" class="btn btn-light waves-effect" (click)="appendDigit(7)">7</button>
    <button type="button" value="8" class="btn btn-light waves-effect" (click)="appendDigit(8)">8</button>
    <button type="button" value="9" class="btn btn-light waves-effect" (click)="appendDigit(9)">9</button>


    <button type="button" value="4" class="btn btn-light waves-effect" (click)="appendDigit(4)">4</button>
    <button type="button" value="5" class="btn btn-light waves-effect" (click)="appendDigit(5)">5</button>
    <button type="button" value="6" class="btn btn-light waves-effect" (click)="appendDigit(6)">6</button>


    <button type="button" value="1" class="btn btn-light waves-effect" (click)="appendDigit(1)">1</button>
    <button type="button" value="2" class="btn btn-light waves-effect" (click)="appendDigit(2)">2</button>
    <button type="button" value="3" class="btn btn-light waves-effect" (click)="appendDigit(3)">3</button>


    <button type="button" (click)="appendDigit(0)" class="btn btn-light waves-effect">0</button>
    <button type="button" class="all-clear function btn btn-danger btn-sm" (click)="clear()">AC</button>

    <button type="button" class="equal-sign operator btn btn-primary" (click)="calculate()">=</button>

  </div>
</div>